-#encoding: utf-8
-require File.expand_path("../../app/weather.rb", __FILE__)
-weather =  Weather.new(req["location"])
%p
Temperatur: #{weather.temperatur} /
%img{:src => "http://www.google.com#{weather.icon_today}"}
%p Condition : #{weather.condition} 
%p Humidity  : #{weather.humidity} 
%p
Temperatur(morgen): #{weather.temperatur_tomorrow}
/
%img{:src => "http://www.google.com#{weather.icon_tomorrow}"}
%p

